MONGODB_URI=mongodb+srv://mohankrishna111311gvpce_db_user:Kq5gkW6nmSs7F2YX@cluster0.55i5uu8.mongodb.net


GEMINI_API_KEY="your_api_key_here"

GEMINI_MODEL=gemini-2.5-flash
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=quantumverse.supp@gmail.com
SMTP_PASS=bqrv nfgi gdbs hmlw
SMTP_FROM=quantumverse.supp@gmail.com
SMTP_SECURE=false
ADMIN_EMAIL=mohankrishna111311@gmail.com
AUTH_SECRET=qwertyuiopasdfghjklzxcvbnm
OTP_TTL_SECONDS=600
ALLOWED_EMAIL_DOMAIN=gvpce.ac.in
NEXT_PUBLIC_APP_URL=http://localhost:3000